[Desktop Entry]
Version=1.0
Type=Application

Name=Amy Text-to-speech
Comment=Amy TTS is a text-to-speech engine that runs using minimal CPU power but doesn't sacrifice on 
Categories=Utility;Accessibility;

Icon=moe.amy.tts
Exec=moe.amy.tts --gui
Terminal=false
